cloud_id                 = "b1g"
folder_id                = "b1g"
zone                     = "ru-central1-a"
image_id                 = "fd"
subnet_id                = "e9b"
service_account_key_file = "path_to_key"
public_key_path          = "~/.ssh/key.pub"
private_key_path         = "~/.ssh/key"
