cloud_id                 = "b1g"
folder_id                = "b1g"
zone                     = "ru-central1-a"
service_account_key_file = "fake_key.json"
bucket_name              = "bucket_name"
storage_key              = "YCA"
storage_secret           = "YCO"
